header {
  margin-bottom: 2%;
}

header .container {
  position: relative;
  overflow: visible;
  padding: 10px 0;
}

h1 {
  font-weight: lighter;
}

#soundButtons {
  margin: 0 2% 5%;
}

#soundButtons .sound-button {
  width: 94%;
  margin: 3%;
}

@media (min-width: 400px) {
  #soundButtons .sound-button {
    width: 46%;
    margin: 2%;
  }
}

@media (min-width: 600px) {
  #soundButtons .sound-button {
    width: 30.33%;
    margin: 1.5%;
  }
}

@media (min-width: 800px) {
  #soundButtons .sound-button {
    width: 23%;
    margin: 1%;
  }
}

@media (min-width: 1000px) {
  #soundButtons .sound-button {
    width: 19%;
    margin: .5%;
  }
}

.room-occupants {
  float: right;
}